@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter' sans-serif;
}
html{^
    height: 500vh;
}

.nav-bar{
    max-width: 1280px;
    margin: auto;
}